@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Montserrat&display=swap');

html, body{
  margin: 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
  min-height: 100vh;
}

@media (min-width: 650px){
  .App{
    width: 640px;
  }
}

@media (min-width: 650px){
  .App{
    width: 90vw;
  }
}
#root{
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyBtn */
.MyBtn{
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.MyBtn_default{
  background-color: #ececec;
  color: black;
}

.MyBtn_negative{
  background-color: #fd565f;
  color: white;
}

.MyBtn_positive{
  background-color: #64c964;
  color: white;
}

/* Header */
header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header button{
  font-family: 'IBM Plex Sans KR', sans-serif;
}

header > div {
  display: flex;
}

header .head_text{
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_right{
  width: 25%;
  justify-content: end;
}

header .head_btn_left{
  width: 25%;
  justify-content: start;
}