@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Montserrat&display=swap');

html, body{
  margin: 0;
  height: 100%;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--Light-begie-color);
}
