:root{
  /* Light Color */
  --Dark-begie-color: #FAF1E6;
  --Light-begie-color: #FDFAF6;
  --Dark-green-color: #064420;
  --Light-green-color: #E4EFE7;

  /* Dark Color */
  --Light-grey-color: #525252;
  --Medium-grey-color: #414141;
  --Dark-grey-color: #313131;
  --Pink-color: #EC625F;
}

html, body{
  margin: 0;
  height: 100%;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--Light-begie-color);
}

*{
  box-sizing: border-box;
}

ul{
  padding: 0;
  list-style: none;
}

button{
  cursor: pointer;
}

/* DiaryEditor */
.DiaryEditor{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.EditContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-begie-color);
  border-radius: 10px;
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.EditContainer input, textarea {
  width: 70%;
  margin-bottom: 12px;
  border: none;
}

.EditContainer input:focus{
  outline: none;
  border-bottom: var(--Medium-grey-color) solid 1px;
}

.EditContainer select, textarea:focus{
  outline: none;
  border: var(--Medium-grey-color) solid 1px;
}

.EditContainer input{
  height: 30px;
}

.EditContainer textarea{
  height: 200px;
}

.todayEmotion{
  width: 100%;
  text-align: center;
}

.todayEmotion select{
  width: 30%;
  height: 30px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
}

.EditContainer .saveBtn{
  width: 15%;
  height: 35px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--Dark-green-color);
  color: var(--Dark-begie-color);
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
}

.EditContainer .saveBtn:hover{
  transform: scale(1, 1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* DiaryList */
.DiaryList{
  margin: 24px;
}

.DiaryList .DiaryItem{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  background-color: var(--Dark-begie-color);
  padding: 16px;
  border-radius: 10px;
}

.DiaryList .Created-Date{
  font-size: 12px;
  margin-top: 10px;
}

.DiaryList .btn{
  border: none;
  width: 60px;
  height: 20px;
  background: none;
}

.DiaryList .btn:hover{
  text-decoration: underline;
  font-size: 14px;
}

.DiaryList .Finished{
  border-right: #525252 1px solid;
}

.DiaryList .Edit{
  border-right: #525252 1px solid;
}

.DiaryList p{
  min-height: 50px;
  border-top: 1px solid var(--Light-grey-color);
  padding-top: 10px;
}